@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Find the best rated restaurants in town.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rate a Restaurant</h2>
        <p>Let us know how you liked a restaurant!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse All Restaurants</h2>
        <p>Take a look at all of the available restaurants in your area.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Find &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Your Restaurant</h2>
        <p>Feel free to create a business account if you own or run a restaurant that you would like people to find.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Register &raquo;</a></p>
    </div>
</div>